# Python bytecode & cache
__pycache__/
*.pyc
*.pyo

# PyInstaller temporary files
build/
dist/
*.spec
*.exe
CEMA_Tracker.exe

# Temporary logs & debug dumps
*.wav
audio_debug.txt
output.txt
error.txt
logs/
captures/
